<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Adithyakrishnan</h5>
                <ul>
                    <li>Employee code: E101</li>
                    <li>Name: Adithakrishnan</li>
                    <li>Designation: AI Engineer</li>
                    <li>Salary: Rs.5000000</li>
                    <li>Email ID: adithyakrishnan12@gmail.com</li>
                </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Nandagopan</h5>
              <ul>
                <li>Employee code: E102</li>
                <li>Name: Nandagopan</li>
                <li>Designation: ML Engineer</li>
                <li>Salary: Rs.7000000</li>
                <li>Email ID: nandagopan64@gmail.com</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Vasudevan Nair</h5>
              <ul>
                <li>Employee code: E103</li>
                <li>Name: Vasudevan Nair</li>
                <li>Designation: Software Engineer</li>
                <li>Salary: Rs.5500000</li>
                <li>Email ID: vnair44@gmail.com</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Rajesh Mathew</h5>
              <ul>
                <li>Employee code: E104</li>
                <li>Name: Rajesh Mathew</li>
                <li>Designation: Sales Manager</li>
                <li>Salary: Rs.500000</li>
                <li>Email ID: rajeshvvp@gmail.com</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Biju Koikkara</h5>
              <ul>
                <li>Employee code: E105</li>
                <li>Name: Biju Koikkara</li>
                <li>Designation: Cloud Engineer</li>
                <li>Salary: Rs.5000000</li>
                <li>Email ID: adithyakrishnan12@gmail.com</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">San</h5>
              <ul>
                <li>Employee code: E106</li>
                <li>Name: San Baby</li>
                <li>Designation: Full Stack Developer</li>
                <li>Salary: Rs.6200000</li>
                <li>Email ID: sanbaby123@gmail.com</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
      <br><br>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
